.card_container{
    padding: 35px 20px 5px 20px;
    display:grid;
    grid-template-columns: 3fr 3fr 3fr ;
    grid-gap:2rem;
}

.card-image{
    position: relative;
}

.card-image:hover {
    -ms-transform: scale(1.005); /* IE 9 */
    -webkit-transform: scale(1.005); /* Safari 3-8 */
    transform: scale(1.005); 
    transition: transform .5s ease;
    cursor: pointer;
    opacity: 0.5;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(0, 255, 221, 0.856);
    padding:20px;
    box-shadow: 2px 15px 15px 1px rgba(0,0,0,0.7);
}

  
.card-image:hover .overlay {
    opacity: 1;
    border-radius: 50%;
    box-sizing: 0px 2px 3px 20px rgba(0,0,0.5);
    opacity: 1;
    width: 12%;
    left: 45%;
    right: 50%;
    top: 40%;
    height: 50px;
}

.icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  

.media-left {
    margin-right: 0rem;
    color:black;
    font-style: italic;
    margin-bottom:5px;
    border: 1px solid #eee;
    padding: 6px 0px 4px 17px;
    border-radius: 7px;
    font-size: 20px;
    /* letter-spacing: 1px; */
    /* word-spacing: -1px; */
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
}

.box:not(:last-child) {
    margin-bottom: 0.01rem;
}
.button:hover{
    transform:translateY(-1px);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
}

.button.is-primary.is-outlined{
    margin-right: 40px;
    border-radius:50px
}

.button.is-link.is-outlined{
    border-radius: 50px;
    color: white;
    animation: buttonanimate 2s linear infinite;
    animation: horizontal left 2s ease infinite;
    border-color: #ff1744;
}

@keyframes buttonanimate{
    from {background-color: rgba(255, 187, 0, 0.87);}
    to {background-color: rgba(0, 255, 221, 0.856);}
}

.card{
    box-shadow: 0px 5px 6px 7px rgba(0,0,0,0.001) ;
    border-radius: 3px;
}
.card_buttons{
    display: flex;
}

.box{
    padding: 4px;
}

.styles_closeButton__20ID4 {
    position: absolute;
    top: 14px;
    right: 14px;
    border: none;
    padding: 0;
    background-color: transparent;
    display: flex;
    border-radius: 50%;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
    cursor: pointer;
}

.styles_modalCenter__L9F2w {
    margin: auto;
    width: 400px;
    border-radius: 15px;
}

.modal-card-body {
   
    width: 360px;
}

.modal-card{
    margin: 0 0px;
}

.modal-card-foot, .modal-card-head {
    align-items: center;
    background-color:white;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
    padding: 4px;
    font-style: italic;
    margin-bottom: 14px;
    position: relative;
    margin-top: -19px;
    border-radius: 8px;
    border-bottom: none;
   
}
.none{
    cursor: pointer;
    background: none;
    border-radius: 50%;
    border: none;
    margin-left: -16px;
    margin-top: -3px;
    position: fixed;
    font-weight: 700;
}

.modal-card-title {
    color:#337ab7 !important;
    flex-grow: 1;
    flex-shrink: 0;
   
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1;
    
}
@media only screen and (max-width: 600px) {
    .card_container {
       
        display: block;
       
    }
    .box{
        margin-bottom: 13px;
    }
    .modal-card-body {
        width: 244px;
    }

    .modal-card-head {
        align-items: center;
        background-color: white;
        display: flex;
        flex-shrink: 0;
        justify-content: flex-start;
        padding: 4px;
        font-style: italic;
        margin-bottom: 14px;
        position: relative;
        margin-top: -19px;
        margin-left: -26px;
        border-radius: 8px;
    }

    .styles_modalCenter__L9F2w {
        margin: auto;
        width: 291px;
        border-radius: 15px;
    }
    .none{
        cursor: pointer;
        background: none;
        border-radius: 50%;
        border: none;
        margin-left: -21px;
        margin-top: -3px;
        position: fixed;
    }
  }